<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.christos.downloadsautomation</string>
   <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/python3</string>
        <string>/Users/christos/Coding_Projects/LeetCodeProblems/Downloads_automation.py</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/christos/Coding_Projects/LeetCodeProblems/Downloads_automation.stdout</string>
    <key>StandardErrorPath</key>
    <string>/Users/christos/Coding_Projects/LeetCodeProblems/Downloads_automation.stderr</string>
    <key>StartInterval</key>
    <integer>600</integer>
</dict>
</plist>
